---
import Layout from '../layouts/Layout.astro'
---

<Layout title="このサイトについて | アスカライブチェッカー">
  <section class="about">
    <div class="content">
      <p>アスカ見参の生配信中のチャンネルをまとめてリスト化しています。</p>
      <p>時間があれば機能を追加していこうと思うので、要望や改善案があったら気軽に投げてください。</p>
      <h2>掲載条件について</h2>
      <ul>
        <li>
          <p>Twitch</p>
          <p>
            ゲームカテゴリを<a
              href="https://www.twitch.tv/directory/game/Fushigi%20no%20Dungeon%3A%20Fuurai%20no%20Shiren%20Gaiden%20-%20Onna%20Kenshi%20Asuka%20Kenzan!"
              target="_blank">アスカ見参</a
            >に設定している配信が対象になります。
          </p>
        </li>
        <li>
          <p>Youtube</p>
          <p>
            ゲームカテゴリを<a href="https://www.youtube.com/channel/UCKiKfiNPbIedOGdZOlAzCjw" target="_blank">アスカ見参</a
            >に設定している(されている)配信が対象になります。配信タイトルに「アスカ」をいれていないと、初代シレンに設定されるようです。
          </p>
        </li>
      </ul>
      <h2>運営している他のサイト</h2>
      <ul>
        <li>
          <a href="https://discord.gg/ScApdwJTUH" target="_blank">Discord アスカ見参コミュニティ</a>
          <p>
            活発に雑談しているわけではないですが、気軽に質問できる場所として使われています。幽霊部員300人ぐらいいるので、とりあえず入って覗いてみてください。
          </p>
        </li>
        <li>
          <a href="https://www.speedrun.com/shirensidestory" target="_blank">Speedrun.com(アスカ見参)</a>
          <p>アスカ見参TAにおけるリーダーボードです。TAをやらない人でも、記録を残しておく場所として使ってもらってかまいません。</p>
        </li>
      </ul>
      <h2>お問い合わせ</h2>
      <ul>
        <li>Twitter: <a href="https://twitter.com/butaman_suzukix" target="_blank">@butaman_suzukix</a></li>
        <li>Discord: suzuki28ab#4937</li>
        <li>Fediverse: <a href="https://misskey.cloud/@butaman_suzukix" target="_blank">@butaman_suzukix@misskey.cloud</a></li>
      </ul>
    </div>
  </section>
</Layout>

<style lang="scss">
  .about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1.5rem;
    }
    .content {
      font-size: 1.2rem;
      line-height: 1.6;

      a {
        color: #0066cc;
        text-decoration: none;
        &:hover {
          color: #004d99;
          text-decoration: underline;
        }
      }
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: bold;
      color: #333;
      border-bottom: 2px solid #333;
      padding-bottom: 0.5rem;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        margin-bottom: 1rem;
      }
    }
  }

  @media (max-width: 600px) {
    .about {
      h2 {
        font-size: 1.5rem;
      }
      .content {
        font-size: 1rem;
      }
    }
  }
</style>
