---
import LiveStreamList from '../components/LiveStreamList.svelte'
import Layout from '../layouts/Layout.astro'
---

<Layout title="アスカライブチェッカー">
  <main>
    <LiveStreamList client:load />
  </main>
</Layout>
